<!DOCTYPE html>
<html lang="ru,en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список документов</title>
        <link rel="stylesheet" href="../static/css/app.css" th:href="@{/css/app.css}" />

</head>

<body>
<div class="header">
<h1>Add employees in project</h1>
</div>

<form action="#" th:action="@{'/projects/assign-project-' + ${id}}" method="post" th:object="${project}">
    <br>
    <label>Name:</label>
    <input type="text" th:field="*{name}" disabled/><br/>
    <br>
    <br>
    <label>Details:</label>
    <textarea type="text"  th:field="*{details}" disabled /></textarea><br/>
    <br>
    <label>Assign to employees:</label>
    <select th:field="*{employees}" multiple="true" /><br/>
    <option th:each="e : ${employeeslist}" th:value="${e.id}" th:text="${e.last_name}"></option>
    </select>

    <br/>
    <br>
    <button type="submit">Save</button>
</form>

</body>
</html>